.settings-form {
    margin: 0 auto;
    padding: 10px 10px 0;
    border: 1px solid #eee;

    &__fieldset {
        border: 0;
        padding: 0;
        margin-bottom: 10px;

        &_hidden {
            display: none;
        }

        &-label {
            width: 110px;
            margin-right: 10px;
            text-align: right;
            display: inline-block;
            vertical-align: middle;
        }

        &-input,
        &-select {
            width: 90px;
            display: inline-block;
            vertical-align: middle;
        }

        &-checkbox {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }

        &-watermark {
            float: right;
        }
    }
}
