.main {
    width: 864px;
    padding-top: 20px;
    margin: auto;

    &:after {
        display: block;
        clear: both;
    }

    &__select-images {
        width: 612px;
        margin-right: 252px;
    }

    &__settings-form {
        width: 232px;
        float: right;
    }

    &__info {
        margin-bottom: 10px;

        &:nth-of-type(1) {
            margin-top: 20px;
        }
    }

    &__download-link {
        text-align: center;
    }
}
