.selected-image {
    width: 90px;
    float: left;
    margin-left: 10px;

    &:first-child {
        margin-left: 0;
    }

    &__wrapper {
        height: 90px;
        display: flex;
        border: 1px solid #eee;
    }

    &__image {
        max-width: 100%;
        max-height: 100%;
        margin: auto;
    }

    &__name {
        margin-top: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
