html
    head
        title
            |Заголовок
        meta(name='viewport', content='width=device-width')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')

    body
        #app
        script.
            window.preloadedState = !{state}
        script(src='/build/bundle.js')
