html
    head
        title
            |Заголовок
        meta(name='viewport', content='width=device-width')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')

    body
        #app
        script.
            window.preloadedState = !{state}
        if env === 'production'
            link(rel='stylesheet', href='/build/vendor.css')
            link(rel='stylesheet', href='/build/main.css')
            script(src='/build/vendor.js')
        script(src='/build/main.js')
