.select-images {
    display: flex;
    min-height: 100px;
    padding: 10px;
    border: 1px dashed #eee;
    overflow: hidden;

    &__label {
        margin: auto;
    }

    &__input {
        display: none;
    }
}
